
.link {
    text-decoration: none;
    color: inherit;
}

.title {
    font-family: 'Permanent Marker', cursive;
    font-size: 6rem;
    margin-top: 0;
}

.title-paper {
    padding: 1rem;
    height: 100vh;
    text-align: center;
    line-height: 1;
}

.progress {
    transform: rotate(-90deg);
    height: 2rem !important;
}

